    body{
        /*background-color:#333;*/
        /*background: #f06; 
        background: linear-gradient(45deg, #f06, yellow);
        min-height:100%;*/
        background: #27a2c4; /* Old browsers */
        background: -moz-linear-gradient(top,  #27a2c4 0%, #2989d8 4%, #207cca 16%, #207cca 25%, #fcfcfc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#27a2c4), color-stop(4%,#2989d8), color-stop(16%,#207cca), color-stop(25%,#207cca), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #27a2c4 0%,#2989d8 4%,#207cca 16%,#207cca 25%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #27a2c4 0%,#2989d8 4%,#207cca 16%,#207cca 25%,#fcfcfc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #27a2c4 0%,#2989d8 4%,#207cca 16%,#207cca 25%,#fcfcfc 100%); /* IE10+ */
        background: linear-gradient(top,  #27a2c4 0%,#2989d8 4%,#207cca 16%,#207cca 25%,#fcfcfc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27a2c4', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
        
    }
    
    a{
        color:#3fcf0f;
    }
    p{
        font-size:.9em;
        width:420px;
        margin:0;
        padding:0;
        margin-bottom:5px;
    }
    
    body > div{
        /*background-color:#fff;*/
        /*border-bottom-left-radius:15px;
        border-bottom-right-radius:15px; */ 
        padding-bottom:100px;

    }
    /*blue 003f92*/
    /*green 3fcf0f*/
    ul.menu{
        list-style:none;
    }
    .menu li a span{
        font-family: 'Bowlby One SC', sans-serif;
        font-size:48px;
        padding-right:7px;

    }
    
    .menu li a:hover span, .menu li a:hover{
        color:#3fcf0f;
    }
    
    .menu li.selected a{
        color:#3fcf0f;
    }
    
    .menu li{
        color:#003f92;
    }
    
    .menu li a{
        font-size:20px;
        color:#ccc;
        text-decoration:none;
    }
    
    .selected, .menu li:hover {
        color:#7db736;
    }
    hr{
        color:#7db736;
        background:#7db736;
        height:4px;
        width:300px;
        position:relative;
        left:-65px;
        margin-bottom:5px;
    }
    h1{
        margin-bottom:0;
        font-size:1.2em;
        font-weight:normal;
        position:relative;
        left:-30px;
    }
    .page_content p{

    }
    .download_menu{
        list-style:none;
        padding-left:10px;
    }
    
    .green_image{
        background-image:url('../images/green_stripe.png');
    }
    
    .join{
        padding-top:10px;
        height:70px;
        width:100%;
    }
    
    .green_box{
        font-size:42px;
        color:white;
        background:#7db736;
        border-radius:7px;
        width:420px;
        overflow:hidden;
    }
    
    .list_to_embrace{
        font-size: .37em;
        list-style:none;
        margin:20px;
    }
    
    .list_to_embrace li{
        line-height:90%;
        margin:10px 10px 25px 10px;
    }
    
    .list_to_embrace li div{
        font-size:3em;
        padding-top:5px;
        margin-right:20px;
        height:30px;
        float:left;
    }
    .founder{
        margin-top:30px;
    }
    .founder img{
        border:2px solid #ccc;
        padding:5px;
        border-radius:4px;
    }
    
    .kids{
        width:100%;
        margin:20px 60px;
    }
    .kids img{
        border:3px solid #ccc;
        padding:10px;
        border-radius:4px;    
    }